<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/semantic/dist/semantic.min.js"></script>
<script src="/js/scripts.js"></script>
<footer class="footer">
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <p>&copy; BI-STEPS.COM 2018 |
                <a href="/">Home</a> |
                <a href="/about">About</a> |
                <a href="/about">Contact</a> |
                <a href="/about">Privacy Policy</a> |
            </p>
        </div>
    </div>

</footer>