<!-- views/partials/header.ejs -->
<div class="ui container">
    <div class="ui huge teal stackable inverted menu">
        <div class="item logo">
            <h2 class="ui header"><a href="#">BI STEPS</a></h2>
        </div>
        <a class="active item" href="/">Home</a>
        <a class="item" href="#">About</a>
        <a class="item" href="#">Contact</a>
        <a class="item" href="#">More Stuff...</a>
        <a class="item" href="#">Sign-in</a>
        <a class="item" active href="/admin">Admin</a>
        <div class="right item">
            <div class="ui icon input">
                <input type="text" placeholder="Search..."/>
                <i class="search icon"></i>
            </div>
        </div>
    </div>
</div>
