<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
<% include ../partials/header.ejs %>
<div class="ui container main admin-menu">
    <h1 class="ui header">Edit Author</h1>
    <form action="/authors/<%= author._id %>?_method=PUT" method="post" class="ui form">
        <div class="field">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= author.name%>">
        </div>
        <div class="field">
            <label for="bio">Bio:</label>
            <textarea id="bio" name="bio"><%= author.bio %></textarea>
        </div>
        <button class="ui button" type="submit">Submit</button>
    </form>
    <div class="ui hidden divider">
        <a href="/authors">Go Back</a>
    </div>
</div>
<% include ../partials/footer.ejs %>
</body>
</html>
