<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
<% include ../partials/header.ejs %>
<div class="ui container main admin-menu">
    <h1 class="ui header">Author Details</h1>
    <p><%= author.name%></p>
    <h3>Bio:</h3>
    <p><%= author.bio%></p>

    <div class="ui hidden divider">
        <a href="/authors">Go Back</a>
    </div>
</div>
<% include ../partials/footer.ejs %>
</body>
</html>
