<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<div class="ui main text container">
        <h1 class="ui header">Add New Post</h1>
        <form class="ui form">
            <div class="field">
                <label id="title">Title:</label>
                <input type="text" id="title" name="title">
            </div>
            <div class="field">
                <label id="author">Author:</label>
                <input type="text" id="author" name="title">
            </div>
        </form>
    <button class="ui button" type="submit">Submit</button>
</div>

</body>
</html>

