<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<body>
<% include ../partials/header.ejs %>
<div class="ui container main admin-menu">
    <h1 class="ui header">Categories</h1>
    <table class="ui table">
        <thead>
        <tr>
            <th>Category Type:</th>
            <th>Sequence Order Type:</th>
            <th>Actions:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
        </tr>
        </tbody>
    </table>
    <button class="ui teal button">
        <i class="add icon"></i>Add Categories
    </button>
</div>
<% include ../partials/footer.ejs %>
</body>
</html>
